.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  // min-height: 581px;
  // width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 1000ms;
  padding: 40px 40px 40px 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  }
  min-height: 609px;
  width: 450px;
  @media screen and (min-width: 1200px) {
    min-height: 581px;
    width: 528px;
  }
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-icon {
  position: relative;
  top: 2px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark-color);
  margin-bottom: 12px;
}

.modal-fild {
  margin-bottom: 10px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-discription-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-user-fild {
  margin-bottom: 20px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.checkbox-fild {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-discription-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-dark-color);
  border-radius: 3px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }
}

.checkbox-icon {
  fill: transparent;
  .modal-check:checked + .check-text & {
    fill: #ffffff;
  }
}

.check-link {
  color: var(--accent-color);
}

.send-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
