.portfolio-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  // margin-bottom: 50px;
  // margin-left: -8px;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 8px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
}

.portfolio-nav-list-item {
  // margin-right: 8px;
  // flex-basis: calc(100% / 5 - 8px);
  // flex-basis: calc(100% / 3 - 8px);
}

.portfolio-nav-list-btn {
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 20px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  .current {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  // gap: 30px;
}

.projects-list-item {
  margin-top: 30px;
  margin-left: 30px;
  // flex-basis: calc(100% / 3 - 30px);
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.projects-list-item:hover .projects-top-text {
  transform: translateY(0);
}

.projects-link {
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-top-wrap {
  position: relative;
  overflow: hidden;
}

.projects-top-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(33, 149, 243, 0.8);
  line-height: 1.5;
  font-size: 18px;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.projects-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
  margin-bottom: 4px;
}
.projects-discription {
  font-weight: var(--secondary-font-waight);
  font-size: 16px;
  line-height: 1.88;
}
