.social {
  display: flex;
  /*--------------*/
  flex-direction: row;
  justify-content: center;
  /*--------------*/
  margin-left: -10px;
}

.social__item {
  margin-left: 10px;
  // flex-basis: calc(100% / 4-10px);
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .social__link:hover &,
  .social__link:focus & {
    fill: #ffffff;
  }
}
