:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-letter-spacing: 0.03em;
  --primary-font-size: 14px;
  --primary-line-height: 1.14;
  --main-font-waight: 400;
  --primary-discription-color: #757575;
  --main-dark-color: #212121;
  --accent-color: #2196f3;
}
